@page
@model ParkingService.Pages.Administration.IndexModel
@{
    ViewData["Title"] = "Price";
}

<h1 class="text-center">Price</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-10">
            <p><strong>One hour price: </strong>@Model.Price.Hour</p>
            <p><strong>One day price: </strong>@Model.Price.Day</p>
        </div>
        <div class="col-2">
            <a asp-page="Create"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>
