<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkingService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 row">
                <div class="col-11">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">ParkingService</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login" asp-page-handler="LogOut" onclick="return confirm('Are you sure you want to sign out?');"><i class="fas fa-sign-out-alt"></i></a>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i></a>
                    }
                </div>
    </nav>
    </header>
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-sm-2">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.HasClaim("admin","True"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register"><i class="fas fa-plus"></i> User</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cars/Index">Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Journal/Index">Journal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Payment/Index">Payment</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-10">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="col-sm-12">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            }
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ParkingService - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
