@page
@model ParkingService.Pages.Administration.IndexModel
@{
    ViewData["Title"] = "Price";
}

<div class="container">
    <div class="row">
        <div class="col-11">
            <h1 class="text-center">Payment</h1>
        </div>
        <div class="col-1">
            <a asp-page="/Administration/Create"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 text-right">
            <p><strong>One hour price: </strong></p>
            <p><strong>One day price: </strong></p>
        </div>
        <div class="col-6">
            <p>@Model.Price.Hour</p>
            <p>@Model.Price.Day</p>
        </div>
    </div>
</div>
